<!DOCTYPE html>
<html lang="es" ng-app="corporativeApp" ng-controller="corporativeAppCtrl as vm">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href = "./styles/estilo.css">
    <link rel="stylesheet" href = "styles/form.css">
    <link rel="stylesheet" href = "styles/animate-custom.css">
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.js"></script>
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-resource.js"></script>
    <script src="js/main.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
            crossorigin="anonymous"></script>
</head>
<body>
    <!-- CABECERA -->
    <header>
        <div ng-include="'/includes/nav.html'"></div>
    </header>

    <!-- CONTENIDO -->
    <div ng-include="'includes/register-form.html'"></div>
</body>
</html>