<!DOCTYPE html>
<html lang="es" ng-app="corporativeApp" ng-controller="corporativeAppCtrl as vm">
<head>
    <meta charset="UTF-8">
    <title>Quienes somos</title>
    <link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href = "./styles/estilo.css">
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.js"></script>
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-resource.js"></script>
    <script src="js/main.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
            crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>
<body>
    <!-- CABECERA -->
    <header>
        <div ng-include="'../includes/nav.html'"></div>
    </header>
    <!-- CONTENIDO -->
        <article class="nosotros col-lg-5">
            <h3 class="col-lg-6">Ramón Arenal Gutiérrez</h3>
            <img class="col-lg-6 fotoAvatar" alt="foto Ramon Arenal" src="images/ava-1.png">
            <p class="col-lg-6 hola">Jefe de proyecto, fundador original y programador auxiliar back-end. Echa broncas pero no mucho.</p>
        </article>
    <article class="nosotros col-lg-offset-1 col-lg-5">
        <h3 class="col-lg-6">Daniel Sánchez García</h3>
        <img class="col-lg-6 fotoAvatar" alt="foto Daniel Sánchez" src="images/ava-1.png">
        <p class="col-lg-6">Programador back-end y fundador original. El imbécil que necesita todo equipo de desarrollo.</p>
    </article>

    <article class="nosotros col-lg-5">
        <h3 class="col-lg-6">Marc Ibi Álvarez</h3>
        <img class="fotoAvatar col-lg-6" alt="foto Marc Ibi" src="images/ava-1.png">
        <p class="col-lg-6">Programador front-end del proyecto. Con experiencia en una empresa de guiris en La Vila Joiosa.</p>
    </article>
    <article class="nosotros col-lg-offset-1 col-lg-5">
        <h3 class="col-lg-6">Miguel Soriano Sanz</h3>
        <img class="fotoAvatar col-lg-6" alt="foto Miguel Soriano" src="images/ava-1.png">
        <p class="col-lg-6">Programador a distancia residente en Noruega y activista en favor de los derechos laborales de los gamusinos. </p>
    </article>

    <article class="nosotros col-lg-5">
        <h3 class="col-lg-6">Francisco Laport López</h3>
        <img class="fotoAvatar col-lg-6" alt="foto Francisco Laport" src="images/ava-1.png">
        <p class="col-lg-6">Borracho a tiempo completo. No hace mucho pero se le quiere.</p>
    </article>
    <article class="nosotros col-lg-offset-1 col-lg-5">
        <h3 class="col-lg-6">Enrique Santisteban Mojares</h3>
        <img class="fotoAvatar col-lg-6" alt="foto Enrique Santisteban" src="images/ava-1.png">
        <p class="col-lg-6">Programador front-end y el puto amo. Estoy el último en la lista por pura educación ya que he escrito yo esto, pero vamos, que soy TOP.</p>
    </article>

</body>
</html>