.negativo{
    color: red;
}
.positivo{
    color: blue;
}
.titularpeq{
    font-size: 10pt;
}
.titulargran{
    font-size: 18pt;
}
.uno{
    background-color: grey;
}
.dos{
    color: white;
}
.tres{
    font-size: 30px;
}
body{
    /*background-color: cadetblue; */
    /*background: #fff repeat top left;
    background-image: url(../images/bg.jpg); */
    background: #2dcb89;
    color: rgba(1,1,1,0.7);
    font-family: 'Lato', Arial, sans-serif;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
#contactForm{
    margin-top: 30px;
}
.dropdown-menu{
    width: 200%;;
}
#formLegend{
    margin: 50px 0 0 50px;
}
.fotoAvatar{
    height: 200px;
    width: 200px;
}
li button{
    margin-right: 9px;
    margin-top: 7px;
    height: 50px;
}
.navbar{
    height: 90px;
    background: #F7F7F7;
    font-family: 'Lato', Arial, sans-serif;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: rgba(1,1,1,0.7);
}
.navbar-default .navbar-brand {
    color: rgba(1,1,1,0.7);
 }
.navbar-default{
    border-color: transparent;
}
.navbar-brand img{
    margin-top: -5px;
}
.navbar-toggle{
    height: 72px;
}
#submitBtn{
    height: 30px;
}
.titulo{
    font-size:50pt;
    letter-spacing: 40px;
    margin-top: 17px;
    color: rgba(1,1,1,0.7);
}
.vertical-center{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
#videoDescrip{
    margin-top: 500px;
}
#videoYT{
    margin-top: 20px;
}
iframe{
    height: 415px;
    width: 660px;
}
@media (max-width: 1210px) {
    .titulo{
        letter-spacing: 25px;
    }
}
@media (max-width: 1070px) {
    .titulo{
        letter-spacing: 10px;
    }
}
@media (max-width: 975px) {
    .titulo{
        letter-spacing: 0px;
        font-size: 24pt;
    }
}
@media (max-width: 870px){
    iframe{
        margin-top:50px;
        height: 350px;
        width: 500px;
    }
    #videoDescrip{
        margin-top: 5px;
    }
}
@media (max-width: 600px){
    iframe{
        height: 300px;
        width: 350px;
    }
    #videoYT{
        margin-left: -40px;
    }
}
